.clock{
    font-family: JetBrainsMono NFM;
    border-radius: 3px;
    background: $colorAccent;
    margin: 3px 8px 3px 0px;
    color: $colorPrimaryText;
    padding: 0px 10px;
    font-size: 18px;
}