.CPUUsageWidget {
    font-family: JetBrainsMono NFM;
    font-weight: bold;
    margin: 5px 0px;
    border-radius: 5px;
    margin: 5px 8px 5px 0px;
    &__icon{
        padding: 0px 4px 0px 4px;
        border-radius: 3px 0px 0px 3px;
        background: $colorAccent;
        font-size: 25px;  
    }
    &__label{
        margin: 0px 0px 0px 2px;
        font-size: 15px;
        border-radius: 0px 3px 3px 0px;
        padding: 5px;   
        background: $colorAccent;
    }
}
