.RAMUsageWidget {
    margin: 5px 10px 5px 0px;
    font-family: JetBrainsMono NFM;
    font-weight: bold;
    min-width: 100px;
    margin-right: -20px;
    &__icon{           
        border-radius: 3px 0px 0px 3px;
        padding: 5px 5px 0px 5px;
        font-size: 25px;
        background-position: center;
    }

    &__label {
        color: #A6DA95;
        margin: 0px 0px 0px 2px;
        font-size: 15px;
        border-radius: 0px 3px 3px 0px;
        padding: 0px 0px 4px 0px;
        
    }
}