.tray{
    padding: 0px 5px; 
    border-radius: 5px;
    background: $colorAccent;
    margin: 3px 5px;
}

.systemTray__item{
    padding: 3px 5px;
    background: $colorAccent; 
    margin: 5px 3px 5px 0px;
}