* {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-shadow: 0 0 black;
  transition: border-bottom 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;
}

.bar {
  background: transparent;
  min-width: 10px;
}

.clock {
  font-family: JetBrainsMono NFM;
  border-radius: 3px;
  background: #16161e;
  margin: 3px 8px 3px 0px;
  color: #cdd6f4;
  padding: 0px 10px;
  font-size: 18px;
}

.keyboardLayout {
  margin: 5px 8px 5px 0px;
  font-family: JetBrainsMono NFM;
  font-weight: bold;
}
.keyboardLayout__icon {
  border-radius: 3px 0px 0px 3px;
  background: #16161e;
  padding: 0px 5px;
  font-size: 25px;
}
.keyboardLayout__label {
  margin: 0px 0px 0px 2px;
  font-size: 15px;
  border-radius: 0px 3px 3px 0px;
  padding: 5px;
  background: #16161e;
}

.tray {
  padding: 0px 5px;
  border-radius: 5px;
  background: #16161e;
  margin: 3px 5px;
}

.systemTray__item {
  padding: 3px 5px;
  background: #16161e;
  margin: 5px 3px 5px 0px;
}

.volume {
  border-radius: 4px;
  padding: 3px 0px;
  margin: 3px 8px 3px 0px;
}
.volume__slider {
  border-radius: 0px 4% 4% 0px;
  background: #16161e;
  padding: 0px 15px 0px 10px;
}
.volume image {
  border-radius: 3px 0px 0px 3px;
  padding: 0px 9px 0px 7px;
  background: #16161e;
  font-size: 15px;
  margin: 0 2px 0 0;
}
.volume highlight {
  background: #cdd6f4;
  min-height: 8px;
}
.volume slider {
  background: #f5c2e7;
  padding: 0px;
  margin: -4px;
}

.weather {
  font-family: JetBrainsMono NFM;
  font-weight: bold;
  margin: 5px 0px;
  border-radius: 5px;
  margin: 5px 8px 5px 0px;
}
.weather__icon {
  border-radius: 3px 0px 0px 3px;
  background: #16161e;
  margin: 0px 0px;
  padding: 0px;
  font-size: 30px;
}
.weather__label {
  margin: 0px 0px 0px 2px;
  font-size: 15px;
  border-radius: 0px 3px 3px 0px;
  padding: 5px;
  background: #16161e;
}

.workspace {
  background: #16161e;
  font-family: "JetBrainsMono NFM", monospace;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 10px;
  padding: 3px 10px;
  border-radius: 4px;
}
.workspace__item {
  border-radius: 3px;
  padding: 0px 5px;
  margin-right: 5px;
  background: #16161e;
  color: #cdd6f4;
}
.workspace__item:last-child {
  margin-right: 0px;
}
.workspace__item_focused {
  background: #f5c2e7;
  color: #16161e;
}
.workspace__item:hover {
  color: #f5c2e7;
}

.CPUUsageWidget {
  font-family: JetBrainsMono NFM;
  font-weight: bold;
  margin: 5px 0px;
  border-radius: 5px;
  margin: 5px 8px 5px 0px;
}
.CPUUsageWidget__icon {
  padding: 0px 4px 0px 4px;
  border-radius: 3px 0px 0px 3px;
  background: #16161e;
  font-size: 25px;
}
.CPUUsageWidget__label {
  margin: 0px 0px 0px 2px;
  font-size: 15px;
  border-radius: 0px 3px 3px 0px;
  padding: 5px;
  background: #16161e;
}

.RAMUsageWidget {
  font-family: JetBrainsMono NFM;
  font-weight: bold;
  margin: 5px 0px;
  border-radius: 5px;
  margin: 5px 8px 5px 0px;
}
.RAMUsageWidget__icon {
  padding: 6px 4px 0px 4px;
  border-radius: 3px 0px 0px 3px;
  background: #16161e;
  font-size: 25px;
}
.RAMUsageWidget__label {
  margin: 0px 0px 0px 2px;
  font-size: 15px;
  border-radius: 0px 3px 3px 0px;
  padding: 5px;
  background: #16161e;
}

.CPUTempratureWidget {
  font-family: JetBrainsMono NFM;
  font-weight: bold;
  margin: 5px 0px;
  border-radius: 5px;
  margin: 5px 8px 5px 0px;
}
.CPUTempratureWidget__icon {
  padding: 0px 4px 0px 4px;
  border-radius: 3px 0px 0px 3px;
  background: #16161e;
  font-size: 25px;
}
.CPUTempratureWidget__label {
  margin: 0px 0px 0px 2px;
  font-size: 15px;
  border-radius: 0px 3px 3px 0px;
  padding: 5px;
  background: #16161e;
}

/*# sourceMappingURL=style.css.map */
