@use 'variable' as *;

*{
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 0;
    border: none;
    text-shadow: 0px 0px black;
    transition: border-bottom 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;
}


.workspace {
    background: $bg_color;
    font-family: JetBrainsMono NFM;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0px;
    padding: 3px 10px;
    border-radius: 4px;
    &__item{ 
        padding: 0px 5px;
        margin-right: 5px;
        background: $bg_color;
        color: $white_text;
        &:last-child{
            margin-right: 0px;
        }
        &_focused{
            background: $fg_color;
            color: $bg_color;
        }
        &:hover{
         color: $white_true;
        }
        
        &:active{
           
        }
        
    }
}



.client-title{
    margin: 0px 15px;
    font-weight: normal;
    font-size: 18px;
    color: $white_text;
}

.media{
    font-weight: normal;
    font-size: 18px;
    color: $white_text;
}


.volume{
    border-radius: 8%;
    padding: 3px 0px;
    margin: 3px 8px 3px 0px;
   
    &__slider{
        border-radius: 0px 4% 4% 0px;
        background: $bg_color;
        padding: 0px 15px 0px 10px;
    }
    & image{
        border-radius: 3px 0px 0px 3px;
        padding: 0px 9px 0px 7px;
        background: $bg_color;
        font-size: 15px;
        margin: 0 2px 0  0;
    }
    & highlight{
        background: $white_text;
        min-height: 8px;
    
    }
    & slider{
        
        background: $fg_color;
        padding: 8px;
        margin: -5px;
    }
}

.bar{
    background: #1B1B1B;
    min-width: 10px;
}



.clock{
    font-family: JetBrainsMono NFM;
    border-radius: 3px;
    background: $bg_color;
    margin: 3px 8px 3px 0px;
    font-weight: bold;
    color: $white_true;
    padding: 0px 10px;
    font-size: 18px;
}

.tray{
    padding: 0px 5px; 
    border-radius: 5px;
    background: $bg_color;
    margin: 3px 5px;
}

.systemTray__item{
    padding: 3px 5px;
    background: $bg_color; 
    margin: 5px 3px 5px 0px;
}
.weather{
    font-family: JetBrainsMono NFM;
    font-weight: bold;
    margin: 5px 0px;
    border-radius: 5px;
    margin: 5px 8px;
    &__icon{
       
        border-radius: 3px 0px 0px 3px;
        background: $bg_color;
        margin: 0px 0px; 
        padding: 0px;
        font-size: 30px;  
    }
    &__label{
        margin: 0px 0px 0px 2px;
        font-size: 15px;
        border-radius: 0px 3px 3px 0px;
        padding: 5px;
        
        background: $bg_color;
    }
}
.weather_icon{
    

}